@font-face {
  font-family: "visuelt";
  src: url("/fonts/VisueltPro-Regular.ttf");
}

@font-face {
  font-family: "visuelt-bold";
  src: url("/fonts/VisueltPro-Bold.ttf");
}

@font-face {
  font-family: "visuelt-med";
  src: url("/fonts/VisueltPro-Medium.ttf");
}
